<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Login Page</title>
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
	

	<div class="container">
		<div class="row">
			<div class="col-sm-4 col-sm-push-3 well">
				<h1>Login page</h1>
				<!-- Create a form right here -->
				<form name="loginForm" ng-submit="doLogin(loginForm)">
					<!-- Require username -->
					<div class="form-group">
						<input type="email" name="email" ng-model="login.username"
						required placeholder="Enter your email here" class="form-control"></input>
					</div>
					<!-- Require passowrd -->
					<div class="form-group">
						<input type="password" name="password" ng-model="login.password"
						required placeholder="Enter your password here" class="form-control"></input>
					</div>
					<!-- Submit button -->
					<!-- <button type="submit" name="save" value="login" class="btn btn-success">Login</button> -->
					<input type="submit" name="save" value="Login" class="btn btn-success"></input>
				</form>
			</div>
		</div>
	</div>


</body>
</html>